body{
    background-color: white;
}

h1 {
    color: #2C3E50;
    font-family: "Cormorant Garamond";
}

h1:hover{
    font-size: 40px;
}

h2 {
    color: #4A4A4A;
}

p{
    color: #333333;
}

img{
    width: 180px;
}

img :hover{
    width: 300px;
}

#acerca-de-osmo{
    color: rgb(97, 74, 165);
}

.reseas{
    background-color: lightblue;
}

article{
    background-color: #C5D8E5;
    padding: 5px 5;
    margin: 40px auto;
    text-align: center;
    border-radius: 10px;
}

#Tarjeta-para-equipos p{
    color: #1A5276;
}

h3{
    color: #4A4A4A;
}

#redes p:last-child{
    color: #1A5276;
}

/* Estilos para el Font de Cormorant Garamond
.cormorant-garamond-<CormorantText> {
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}*/

